openapi: 3.2.0
info:
  title: Solscan Pro Transaction API
  version: '2.0'
  summary: Solscan Pro REST API for Solana account, token, transaction, block, and NFT data.
  description: 'The Solscan Pro API exposes decoded Solana on-chain data including account

    details, token holdings, transfers, DeFi activities, transaction details,

    block info, and NFT collections. The Public API is a free, lower-rate-limit

    surface; the Pro API is a paid service requiring an API token.


    Authentication uses a token sent in the ''token'' request header.

    '
  contact:
    name: Solscan API Documentation
    url: https://docs.solscan.io/
servers:
- url: https://pro-api.solscan.io/v2.0
  description: Solscan Pro API v2.0
security:
- apiKeyAuth: []
tags:
- name: Transaction
  description: Transaction lookups
paths:
  /transaction/last:
    get:
      tags:
      - Transaction
      summary: List most recent transactions
      operationId: getTransactionLast
      responses:
        '200':
          description: Recent transactions
  /transaction/detail:
    get:
      tags:
      - Transaction
      summary: Get transaction details
      operationId: getTransactionDetail
      parameters:
      - name: tx
        in: query
        required: true
        schema:
          type: string
        description: Transaction signature / hash
      responses:
        '200':
          description: Transaction details
  /transaction/decoded:
    get:
      tags:
      - Transaction
      summary: Get decoded transaction actions
      operationId: getTransactionDecoded
      parameters:
      - name: tx
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Decoded transaction
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: token
      description: 'Solscan API token sent as ''token: {API_KEY}'' header.'
